package layout

templ Container(title string){
    @Head(title){
        <div
            class="h-full w-full bg-[#F3F2FC] flex justify-center"
        >
            {children...}
        </div>
    }
}